body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14pt;
	background-color: #660033;
	text-align: center;
}

#log {
	font-size: 25px;
	font-family: "Times New Roman", Times, serif;
}


